
.navBar{
  padding: 1rem 0.5rem;
  box-shadow: 0px 1px 2px lightgray;
  margin-bottom: 0.5rem;
}

.appControls{
  flex-direction: row-reverse;
  height: 100%;
  display: flex;
  align-items: center;
}

.appName {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Noto Sans", sans-serif;
}

.switch{
  width: 50px;
  height: 25px;
  border-radius: 12.5px;
  background-color: lightgray;
  transition-duration: 0.3s;
}

.switch > div{
  height: 15px;
  width: 15px;
  background-color: grey;
  margin: 5px;
  border-radius: 7.5px;
  transition-duration: 0.3s;
}

.switch.active{
  background-color: #90caf9;
}

.switch.active > div{
  background-color: #2196f3;
  transform: translateX(calc(200% - 5px));
}

.online{
  color: green;
  font-size: 1rem;
}

.offline{
  color: grey;
  font-size: 1rem;
}

.onlineFlag, .offlineFlag{
  height: 15px;
  width: 15px;
  border-radius: 7.5px;
  display: inline-block;
}

.onlineFlag{
  background-color: green;
}

.offlineFlag{
  background-color: grey;
}
