
<div class="root">
  <div class="content">
    <div class="min-max">
      <div class="min"><small>min</small> {{min}}°C</div>
      <div class="max"><small>max</small> {{max}}°C</div>
    </div>
    <div class="icon">
      <i class="fas fa-sun"></i>
    </div>
    <div class="temp">
      {{temp}}°C
    </div>
    <div class="temp-desc">
      {{description}}
    </div>
    <div class="divider"></div>
    <div class="city-country">
      <div class="city">{{city}}</div>
      <div class="country">{{country}}</div>
    </div>
  </div>
</div>
