
.root{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.root > .content{
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 98%;
  width: 98%;
  box-shadow: 1px 1px 5px lightgray, -1px 1px 5px lightgray;
  text-transform: uppercase;
  border-radius: 0.5rem;
  font-weight: bold;
  color: #424242;
  transition-duration: 0.3s;
  backface-visibility: hidden;
}

.root > .content.rotated{
  transform: rotateY(180deg);
}

.root > .content > *{
  width: 100%;
  position: relative;
}

/*min/max and city/edit part*/

.root > .content > .min-max, .root > .content > .city-edit{
  height: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.min, .max, .city, .edit{
  width: 50%;
  padding-left: 1rem;
}

.max, .edit{
  text-align: right;
  padding-right: 1rem;
}

.edit{
  color: #2196f3;
  width: 25%;
}

.city{
  width: 75%;
  text-overflow: ellipsis;
}

/*icon part*/

.root > .content > .icon{
  height: 39%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  color: white;
}

@media screen and (max-width: 768px) {
  .root > .content > .icon{
    font-size: 60px;
  }
}

@media screen and (max-width: 992px) {
  .root > .content > .icon{
    font-size: 100px;
  }
}

/*temp value part*/

.root > .content > .temp{
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}

/*temp desc part*/
.root > .content > .temp-desc{
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*divider*/
.root > .content > .divider{
  height: 1%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0;
  overflow: hidden;
}

.root > .content > .divider > .dLoader{
  width: 50%;
  height: 100%;
  background-color: #2196f3;
  animation: load 1s infinite linear;
  transform-origin: 0% 50%;
}

@keyframes load {
  0%{
    transform: translateX(0) scaleX(1);
  }
  25%{
    transform: scaleX(2) translateX(0);
  }
  50%{
    transform: scaleX(1) translateX(100%);
  }
  75%{
    transform: scaleX(2) translateX(0);
  }
  100%{
    transform: scaleX(1) translateX(0);
  }
}

/*backface*/

.root > .content.back{
  background-color: white !important;
  backface-visibility: hidden;
}

.root > .content.back > *{
  padding: 0.5rem;
}

.root > .content.back .options{
  height: 70%;
  overflow-y: scroll;
}

.root > .content.back .form{
  height: 30%;
}

.root > .content.back .options .option{
  padding: 0.25rem;
  border-bottom: 1px solid lightgray;
  color: #2196f3;
}

.root > .content.back .options .option:first-child{
  border-top: 1px solid lightgray;
}

.root > .content.back .loaderContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
}
