
<div class="root">
  <div (click)="handleCardClick()" [class]="rotated ? 'content rotated' : 'content'" [ngStyle]="{'background-color': (background ? background[0] : 'lightgrey')}">
    <div class="min-max">
      <div class="min"><small>{{ min ? 'min' : ''}}</small> {{ min ? min+'°C' : ''}}</div>
      <div class="max"><small>{{ max ? 'max' : ''}}</small> {{ max ? max+'°C' : ''}}</div>
    </div>
    <div class="icon">
      <i [class]="icon ? icon : 'fas fa-ban'"></i>
    </div>
    <div class="temp">
      {{ temp ? temp+'°C' : ''}}
    </div>
    <div class="temp-desc">
      {{ loading ? '' : description ? description: 'Tap to select city'}}
    </div>
    <div class="divider"></div>
    <div class="city-edit">
      <div class="city">{{ city ? city.substr(0, 10) + (city.length > 10 ? "..." : "") : ''}}</div>
      <div class="edit">
        <i *ngIf="city" (click)="city ? rotated = !rotated : null" class="fa fa-edit"></i>
      </div>
    </div>
  </div>

  <div [class]="!rotated ? 'content back rotated' : 'content back'">
    <div class="form">
      <div class="form-group">
        <input (keyup)="cityChanged()" [(ngModel)]="city" placeholder="City.." type="text" class="form-control" id="city">
      </div>
    </div>
    <div class="options">
      <div *ngIf="!loading">
        <div *ngFor="let option of options;" class="option" (click)="city=option.name; cityId=option.id; rotated=!rotated; loading=true">
          {{option.name+", "+option.country}}
        </div>
      </div>

      <div *ngIf="loading && rotated" class="loaderContainer">
        <div class="spinner-grow" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>

      <div *ngIf="error">
        {{ error }}
      </div>
    </div>

  </div>
</div>
